/* General Form Container Style */
#booking-form {
    background-color: white;     
    padding: 20px;               
    border-radius: 10px;         
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    width: 80%;                  
    max-width: 700px;            
    margin: 20px auto;
    border-top: 2px solid #b30000;
    border-bottom: 2px solid #b30000;  
}

#booking-form h2 {
    font-size: 18px;
    color: black;               
    margin-bottom: 10px;          
}

#booking-form input[type="text"],
#booking-form input[type="email"],
#booking-form input[type="date"],
#booking-form input[type="time"] {
    width: 97%;                 
    padding: 10px;               
    border: 2px solid #b30000; 
    border-radius: 5px;         
    font-size: 14px;             
    margin-bottom: 10px;         
    transition: border-color 0.3s ease; 
}

#booking-form input[type="text"]:focus,
#booking-form input[type="email"]:focus,
#booking-form input[type="date"]:focus,
#booking-form input[type="time"]:focus {
    border-color: #ff4d4d;       
    outline: none;              
}

.car {
    background-color: #f8f8f8; 
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-top: 2px solid #b30000;
    border-bottom: 2px solid #b30000;
}

.car img {
    width: 100%;  
    max-width: 400px;
    height: auto;
    margin-bottom: 10px;
}

#addons-container input[type="checkbox"] {
    margin-right: 10px;          
}

#addons-container h2 {
    font-size: 16px;
    color: #d10000;
}

/* Style for buttons */
#booking-form button {
    background-color: #b30000;   
    color: white;                
    padding: 10px 20px;          
    border: none;                
    border-radius: 5px;          
    font-size: 16px;             
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

#booking-form button:hover {
    background-color: #cc0000;   
}


#booking-form button:active {
    background-color: #b30000;   
}

#booking-form label {
    font-size: 16px;             
    color: #333;                
    display: block;              
    margin-bottom: 5px;          
}

/* Style for car price and status */
#booking-form .car p {
    font-size: 16px;
    color: #333;
}

#booking-form .car h2 {
    font-size: 20px;
    color: black;
}