{% load static %}
<!DOCTYPE html>
<html lang = "en">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>BT Rentals</title>
<link rel="icon" type="image/png" href="{% static 'rentals/images/bt.png' %}">
<link rel ="stylesheet" href="{% static 'rentals/css/style.css' %}">
<link rel ="stylesheet" href="{% static 'rentals/css/about&contact.css' %}">
<script src="{% static 'rentals/js/scripts.js' %}"></script>

<body>
    <!--Logo, Header & Menu-->
    <header>
        <div class="header-menu-container">
            <div class="logo-container">
                <a href="{% url 'homepage' %}">
                    <img src="{% static 'rentals/images/BrowneTransports.png' %}" alt="Browne Transports Logo" class="header-logo">
                </a>
            </div>
            
            <div class="header-content">
                <h1>Browne Transports & Rentals</h1>
                <h2>Reasonable & Reliable, every time.</h2>
                <p>Get the keys to your next adventure!</p>
            </div>

            <div class="menu">
                <button class="menu-button">☰ Menu</button>
                <div class="dropdown">
                    <a href="{% url 'homepage' %}">Home</a>
                    <a href="{% url 'fleet' %}">Our Fleet</a>
                    <a href="{% url 'menubookings' %}">Reservations</a>
                    <a href="{% url 'terms' %}">Terms and Conditions</a>
                    <a href="{% url 'contact' %}">Contact & Socials</a>
                    <a href="{% url 'about' %}">About Us</a>
                    <a href="{% url 'faq' %}">FAQ</a>
                </div>
            </div>
        </div>
    </header>


    <!--Quick Contact Info-->
    <section id="contact-us">
        <div class="contact-container">
            <h2>Contact Us</h2>
            <p>Have questions or need assistance? We're here to help!</p>
            
            <div class="contact-info">
                <p><strong>📍 Address:</strong> Burke's Road Brittons Hill, St. Michael, Bridgetown Barbados</p>
                <p><strong>📞 Phone:</strong> +1 (246) 248-2202</p>
                <p><strong>📧 Email:</strong> bt-rentals246@hotmail.com</p>
                <p><strong>⏰ Working Hours:</strong> Mon - Sat: 8:00 AM - 6:00 PM</p>
            </div>
            <a href="mailto:btransports246@hotmail.com" class="contact-btn">Email Us</a>
        </div>
    </section>


    <!--Footer-->
    <footer>
        <br>
        <p>&copy; 2021 Browne Transports & Rentals. All rights reserved.</p>
        <br>
    </footer>

</body>

</html>
