{% load static %}
<!DOCTYPE html>
<html lang = "en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BT Rentals-Fleet</title>
    <link rel="icon" type="image/png" href="{% static 'rentals/images/bt.png' %}">
    <link rel ="stylesheet" href="{% static 'rentals/css/fleet.css' %}">
    <link rel ="stylesheet" href="{% static 'rentals/css/style.css' %}">
    <script src="{% static 'rentals/js/scripts.js' %}"></script>
    <script src="{% static 'rentals/js/fleet.js' %}"></script>

</head>

<!-- Google Translate Dropdown 
<div id="googletranslate"></div>
-->
<!-- Google Translate API 
 <script>
 function googleTranslateElementInit() {
  new google.translate.TranslateElement({
      pageLanguage: 'en',
      includedLanguages: 'en,fr,es,de', // Customize supported languages
      layout: google.translate.TranslateElement.InlineLayout.SIMPLE
  }, 'googletranslate');
}
</script>
<script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script> 
-->
<body>
    <header>
        <div class="header-menu-container">
            <div class="logo-container">
                <a href="{% url 'homepage' %}">
                    <img src="{% static 'rentals/images/BrowneTransports.png' %}" alt="Browne Transports Logo" class="header-logo">
                </a>
            </div>
            
            <div class="header-content">
                <h1>Browne Transports & Rentals</h1>
                <h2>Reasonable & Reliable, every time.</h2>
                <p>For every occasion and any family size.</p>
            </div>

            <div class="menu">
                <button class="menu-button">☰ Menu</button>
                <div class="dropdown">
                    <a href="{% url 'homepage' %}">Home</a>
                    <a href="{% url 'fleet' %}">Our Fleet</a>
                    <a href="{% url 'menubookings' %}">Reservations</a>
                    <a href="{% url 'terms' %}">Terms and Conditions</a>
                    <a href="{% url 'contact' %}">Contact & Socials</a>
                    <a href="{% url 'about' %}">About Us</a>
                    <a href="{% url 'faq' %}">FAQ</a>
                </div>
            </div>
        </div>
    </header>


    <!--Display all cars with max (8 per page) with filters to change and cars have availability status-->
    <!-- Cars and clicks for price -->
    {% csrf_token %}
    <section id="cars">
        <div id="fleet-container">
            <div id="cars-list" class="grid-container"></div>
        </div>
    </section>
</body>


<!--Footer-->
<footer>
    <br>
    <p>&copy; 2021 Browne Transports & Rentals. All rights reserved.</p>
    <br>
</footer>

</html>